body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}

body > div {
    display: flex;
    height: 100px;
}

img {
    animation-duration: 3s;
    animation-name: faceInOut;
    width: 211.55px;
    height: 307.19;
    margin: 10px;
    transition: cubic-bezier(1, 0, 0, 1);
    transform: all 1s;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hidden {
    display: none;
}

.container {
    width: 1510px;
    height: 768px;
    background-color: #d6e6fa;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows:   40% 40% 10% 10%;
    border-radius: 7%;
}

h2 {
    grid-area: "dealer";
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dealer-cards {
    display: flex;
    justify-content: center;
    grid-area: "dealer-cards";
    grid-row-start: 1;
    grid-column-start: 2;

}

#cardback {
    align-self: flex-start;
}
#play-button {
    display: inline-block;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.player-cards {
    display: flex;
    justify-content: center;
    grid-area: "player-cards";
    grid-row-start: 2;
    grid-column-start: 2;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: "buttons";
    grid-column-start: 2;
    grid-row-start: 3;
}

.player {
    grid-area: "player";
    grid-column-start: 1;
    grid-row-start: 2;
}

#message {
    grid-row-start: 4;
    grid-column-start: 2;
    text-align: center;
    font-size: 1.5em;
}

/* From uiverse.io by @alexroumi */
.button {
    transition: 1s;
    margin: 10px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    }

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.button:hover {
    color: #e8e8e8;
}

.button:hover::before {
    width: 100%;
}

#play-button {
    display: inline-block;
    margin: auto;
}

#reset-button {
    display: inline-block;
    margin: auto;

}
.overlap {
    display: none;
}

.opaque {
    display: none;
}
